.body-div {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 95%;

  h3,
  h5 {
    font-size: 22px;
    margin: 0;
  }

  h3 {
    margin: 0 0 0 5%;
  }

  img{
    cursor: pointer;
  }

  h5 {
    margin-left: 1%;
    font-weight: normal;
  }

  .title-row {
    display: flex;
    width: 100%;
    margin-top: 1%;

    .a-column {
      display: flex;
      margin-left: 1%;
      justify-content: center;
      align-items: center;

      img {
        transition: 0.25s;
      }

      img:hover {
        transform: scale(1.2);
      }
    }

    .title-column {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 0;
        padding: 0;
        font-size: 48px;
      }
    }
  }

  .panel-div {
    display: flex;
    flex-direction: column;
    width: 98%;
    min-height: 100%;
    margin-left: 1%;
    margin-top: 2%;

    .tab-row {
      display: flex;
      width: 100%;

      button {
        border: white;
        background-color: white;
        font-size: 22px;
        width: 180px;
        height: 50px;
        cursor: pointer;
        border-top-right-radius: 25px;
        border-top-left-radius: 5px;
        transition: 0.25s;
        border: 2px solid black;
        border-bottom: none;
      }

      button:hover {
        background-color: rgb(228, 226, 226);
      }

      .clicked {
        background-color: rgb(228, 226, 226);
      }
    }

    .tabs {
      display: flex;
      flex-direction: column;
      background-color: white;
      color: black;
      width: 99.5%;
      border-radius: 5px;
      border-top-left-radius: 0px;
      border: 2px solid black;
      margin-bottom: 2%;
    }

    .tab-one {

      .rowOne {
        display: flex;
        width: 100%;
        margin-top: 2%;

        .columnOne {
          display: flex;
          align-items: center;
          width: 60%;
        }

        .columnTwo {
          display: flex;
          align-items: center;
          width: 39.5%;

          .delete-run,
          .change-status-run {
            width: 140px;
            height: 40px;
            margin-left: 5%;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.25s;
            font-size: 18px;
          }

          .delete-run {
            background-color: white;
            border: 2px solid var(--buttonRed);
            color: var(--buttonRed);
          }

          .delete-run:hover {
            background-color: var(--buttonRed);
            color: white;
          }

          .change-status-run {
            background-color: white;
            border: 2px solid var(--buttonOrange);
            color: var(--buttonOrange);
          }

          .change-status-run:hover {
            background-color: var(--buttonOrange);
            color: white;
          }

          .session-number {
            display: flex;
            width: 44%;
            justify-content: center;
            align-items: center;

            .plus-icon,
            .less-icon {
              width: 30px;
              cursor: pointer;
              transition: 0.25s;
            }

            .plus-icon:hover,
            .less-icon:hover {
              transform: scale(1.3);
            }


            .session-title {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: 0 15%;
            }
          }
        }
      }

      .rowTwo {
        display: flex;
        width: 100%;
        margin-top: 5%;

        .columnOne {
          display: flex;
          flex-direction: column;
          width: 55%;
          align-items: center;
          max-height: 52em;
          overflow: auto;

          table {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 2%;
            border-spacing: 0;
            border-collapse: separate;

            th,
            td {
              border: none;
              margin: 0;
              text-align: center;
              vertical-align: center;
              word-wrap: break-word;
            }

            th {
              font-size: 16px;
              font-weight: normal;
              padding: 20px 0px;
              background-color: var(--buttonBlue);
              color: white;
            }

            tr:nth-child(even) {
              background-color: #f0eeee;
            }

            textarea {
              resize: none;
              outline: none;
              border: none;
              background-color: transparent;
              width: 100%;
              height: auto;
              font-size: 15px;
              text-align: center;
              margin: 0;
              overflow: hidden;
            }
          }
        }

        .columnTwo {
          display: flex;
          flex-direction: column;
          width: 44%;
          align-items: center;

          textarea {
            width: 100%;
            margin: 2% 0 0 0;
            resize: none;
            height: 52em;
            border-radius: 5px;
            font-size: 15px;
          }

          .annotations-tabs {
            display: flex;
            width: 100%;
            margin-top: 0.5%;
            margin-bottom: 3%;

            button {
              background-color: white;
              border: 1px solid black;
              width: 120px;
              height: 40px;
              margin-right: 1%;
              font-size: 18px;
              border-radius: 10px;
              cursor: pointer;
              transition: 0.25s;
            }

            button:hover {
              background-color: rgb(228, 226, 226);
            }

            .clicked {
              background-color: rgb(228, 226, 226);
            }
          }
        }
      }
    }

    .tab-two {
      max-height: 100%;

      .tab-row-one {
        display: flex;

        .column-one {
          display: flex;
          flex-direction: column;
          width: 50%;

          .row-one {
            display: flex;
            margin-top: 8%;
            align-items: center;
            justify-content: center;
            width: 100%;

            button {
              font-size: 18px;
              width: 140px;
              height: 40px;
              cursor: pointer;
              border-radius: 8px;
              transition: 0.25s;
            }

            .add-btn {
              margin-left: 10%;
              background-color: white;
              border: 2px solid var(--buttonGreen);
              color: var(--buttonGreen);
            }

            .add-btn:hover {
              background-color: var(--buttonGreen);
              color: white;
            }

            .column-title {
              margin: 0 0 0 25%;
              font-size: 28px;
            }
          }

          .row-two {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 3%;

            ul {
              display: flex;
              list-style: none;
              margin: 0 0 2% 0;
              padding: 0;
              width: 100%;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;

              li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                margin-top: 3%;
                width: 35%;
              }

              img {
                margin: 0 0 0 5%;
                transition: 0.25s;
                cursor: pointer;
              }

              img:hover {
                transform: scale(1.2);
              }
            }
          }
        }

        .column-two {
          display: flex;
          flex-direction: column;
          width: 50%;

          .row-one {
            display: flex;
            margin-top: 8%;
            align-items: center;
            justify-content: center;
            width: 100%;

            .column-title {
              margin: 0%;
              font-size: 28px;
            }
          }

          .row-two {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 3%;

            ul {
              display: flex;
              list-style: none;
              margin: 0 0 2% 0;
              padding: 0;
              width: 100%;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;

              li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                margin-top: 3%;
                width: 50%;
              }

              img {
                margin: 0 0 0 5%;
                transition: 0.25s;
                cursor: pointer;
              }

              img:hover {
                transform: scale(1.2);
              }

              .character-picture-span {
                display: flex;
                width: 30%;
                height: 100%;

                .character-picture {
                  border-radius: 10px;
                  border: 2px solid black;
                  margin-right: 4%;
                  margin-left: -18%;
                  width: 5em;
                  height: 5em;
                  cursor: default;
                }

                .character-picture:hover {
                  transform: scale(1.0);
                }
              }

              .character-names-span {
                display: flex;
                margin: 0 0 0 0;
                width: 50%;
                height: 100%;
              }

              .character-open-sheet-pan {
                display: flex;
                width: 20%;
              }
            }
          }
        }
      }
    }

    .tab-three {
      min-height: 35em;

      .dnd5e-combat {
        display: flex;
        flex-direction: column;
        width: 100%;

        .row-one {
          display: flex;
          width: 100%;

          h2,
          h4 {
            margin: 0;
          }

          h2 {
            cursor: pointer;
          }

          .column-one {
            display: flex;
            width: 30%;
            justify-content: center;
            align-items: center;
            margin: 1.5% 0;
          }

          .column-two {
            display: flex;
            flex-direction: column;
            width: 70%;
            justify-content: center;
          }
        }

        .row-two {
          display: flex;
          width: 100%;
          justify-content: center;

          table {
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            margin: 0 2%;

            tr:nth-child(even) {
              background-color: #f0eeee;
            }

            tr {
              width: 100%;

              th,
              td {
                border: none;
                margin: 0;
                padding: 0;
                height: 3em;
              }

              th {
                text-align: center;
                font-size: 17px;
              }

              textarea {
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 15px;
                color: black;
                text-align: center;
                overflow: hidden;
                resize: none;
                width: 100%;
              }

              img {
                width: 20px;
                height: 20px;
                margin: 0;
                padding: 0;
                cursor: pointer;
                transition: 0.25s;
              }

              img:hover {
                transform: scale(1.2);
              }
            }

            tr td:nth-child(1),
            tr th:nth-child(1) {
              width: 21%;

              textarea {
                text-align: left;
                margin-left: 1%;
              }
            }

            tr td:nth-child(2),
            tr th:nth-child(2) {
              width: 15%;
            }

            tr td:nth-child(3),
            tr th:nth-child(3) {
              width: 7%;
            }

            tr td:nth-child(4),
            tr th:nth-child(4) {
              width: 10%;
            }

            tr td:nth-child(5),
            tr th:nth-child(5) {
              width: 7%;
            }

            tr td:nth-child(6),
            tr th:nth-child(6) {
              width: 7%;
            }

            tr td:nth-child(7),
            tr th:nth-child(7) {
              width: 12%;
            }

            tr td:nth-child(8),
            tr th:nth-child(8) {
              width: 17%;
            }
          }

          .column-one {
            display: flex;
            width: 50%;
            align-self: flex-start;

            th {
              background-color: var(--buttonGreen);
            }
          }

          .column-two {
            display: flex;
            width: 50%;
            align-self: flex-start;

            th {
              background-color: var(--buttonRed);
            }
          }
        }

        .row-three {
          display: flex;
          width: 100%;
          margin-top: 2%;
          margin-bottom: 3%;
          justify-content: center;

          table {
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            margin: 0 2%;

            tr:nth-child(even) {
              background-color: #f0eeee;
            }

            tr {
              width: 100%;

              th,
              td {
                border: none;
                margin: 0;
                padding: 0;
                height: 3em;
              }

              th {
                text-align: center;
                font-size: 17px;
              }



              textarea {
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 15px;
                color: black;
                text-align: center;
                overflow: hidden;
                resize: none;
                width: 100%;
              }

              img {
                width: 20px;
                height: 20px;
                margin: 0;
                padding: 0;
                cursor: pointer;
                transition: 0.25s;
              }

              img:hover {
                transform: scale(1.2);
              }
            }
          }

          tr th:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              margin: 0 0 0 3%;
            }
          }

          .column-one {
            display: flex;
            width: 50%;
            align-self: flex-start;

            th {
              background-color: #f3f17b;
            }

          }

          .column-two {
            display: flex;
            width: 50%;
            align-self: flex-start;

            th {
              background-color: #91f3eb;
            }

          }
        }
      }
    }

    .tab-four {
      min-height: 100vh;

      .row-one {
        display: flex;
        width: 100%;

        h2 {
          margin: 2%;
        }

        .column-one {
          display: flex;
          width: 28%;
          margin-left: 10%;
          align-items: center;

          input {
            margin: 0;
            margin-left: 3%;
            height: 35%;
            width: 30%;
            font-size: 22px;
            text-align: center;
            border-radius: 5px;
            border: 2px solid black;
            outline: none;
          }
        }

        .column-two {
          display: flex;
          width: 60%;
          align-items: center;

          input {
            margin: 0;
            margin-left: 0;
            height: 35%;
            width: 70%;
            font-size: 18px;
            border-radius: 5px;
            border: 2px solid black;
            outline: none;
          }

          button {
            width: 140px;
            height: 40px;
            margin-left: 5%;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.25s;
            font-size: 18px;
            background-color: white;
            color: var(--buttonGreen);
            border: 2px solid var(--buttonGreen);
          }

          button:hover {
            background-color: var(--buttonGreen);
            color: white;
          }
        }
      }

      .row-two {
        display: flex;
        width: 100%;

        ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          width: 100%;
          margin: 0 0 2% 0;
          padding: 0;

          li {
            display: flex;
            width: 50%;
            margin: 2% 0 0 0;
            padding: 0%;
            font-size: 19px;

            img {
              width: 25px;
              height: 25px;
              transition: 0.25s;
            }

            img:hover {
              cursor: pointer;
              transform: scale(1.2);
            }
          }

          li span:nth-child(1) {
            display: flex;
            width: 80%;
            margin-left: 5%;

            p{
              margin: 0;
              padding: 0;
              max-width: 100%;
              flex-wrap: wrap;
              overflow: auto;
            }
          }

          li span:nth-child(2) {
            display: flex;
            margin-left: 3%;
          }

          li span:nth-child(3) {
            display: flex;
            margin-left: 3%;
          }
        }
      }
    }

  }
}
