.body-div {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 95%;

  .title-row {
    display: flex;
    width: 100%;
    margin-top: 1%;

    .a-column {
      display: flex;
      margin-left: 1%;
      justify-content: center;
      align-items: center;

      img {
        transition: 0.25s;
      }

      img:hover {
        transform: scale(1.2);
      }
    }

    .title-column {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 0;
        padding: 0;
        font-size: 48px;
      }
    }
  }

  .row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;

    .card{
      display: flex;
      flex-direction: column;
      width: 15%;
      justify-content: center;
      align-items: center;
      border: 3px solid black;
      background-color: white;
      color: var(--primaryBlue);
      border-radius: 20px;
      cursor: pointer;
      animation: cardApper 1s;
      transition: 0.50s;
      margin-left: 5%;

      img{
        margin: 5%;
        width: 120px;
      }

      h2{
        margin: 0 0 5% 0;
        text-align: center;
      }
    }

    .card:hover{
      transform: scale(1.1);
    }


    @keyframes cardApper {
      0% {
        transform: translateX(-500%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }
}
