<div class="body-div">
  <div class="title-row">
    <div class="a-column">
      <a routerLink="/home"><img src="assets/setaVoltar.png" alt="Seta apontando para a esquerda" width="75px"></a>
    </div>
    <div class="title-column">
      <h1>Área do Mestre</h1>
    </div>
  </div>
  <div class="row">
    <div class="card" (click)="openModalCreateRun()">
      <img src="assets/iconeCriar.png" alt="Ícone simbolizando a criação de uma campanha.">
      <h2 class="title-name">Criar Nova Run(Campanha)</h2>
    </div>
    <div class="card" (click)="selectRun()">
      <img src="assets/iconeEspadas.png" alt="Ícone simbolizando a criação de uma campanha.">
      <h2 class="title-name">Mestrar Run(Campanha)</h2>
    </div>
  </div>
</div>
