.alert-box {
  background-color: rgb(56, 55, 55);


  .row-title {
    margin: 2%;
  }

  .row-form {
    display: flex;
    width: 100%;
    flex-direction: column;

    label {
      font-size: 32px;
      margin: 0;
      font-weight: bold;
    }

    input {
      width: 90%;
      font-size: 28px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      border-radius: 10px;
      height: 2em;
      border: 2px solid black;
      margin-top: 4%;
    }

    h1 {
      margin: 0 0 5% 0;
      font-size: 28px;
      font-weight: lighter;
    }

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 4% 0;
    }

    .btn-search {
      margin-top: 3%;
    }

  }
}

@media (max-width: 1600px) {
  .alert-box {
    .row-form {
      label {
        font-size: 20px;
      }

      input {
        font-size: 20px;
      }

      h1 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1366px) {
  .alert-box {
    .row-form {
      label {
        font-size: 18px;
      }

      input {
        font-size: 18px;
      }

      h1 {
        font-size: 18px;
      }
    }
  }
}
