<div class="alert-box">
  <h1 class="alert-title"> Atenção!</h1>
  <h2 class="alert-content"> Antes de excluir sua conta será verificado se você já participou de alguma Run(Campanha).
    Caso já tenha participado sua conta será apenas desativada por questões de histórico. Para ativá-la
    novamente, por favor entre em contato com o suporte.
    Se não tiver participado de nenhuma Run(Campanha), sua conta será excluída e não será possível recuperá-la mais.
    <br>Tem certeza que deseja continuar?
  </h2>
  <div class="alert-buttons">
    <button class="btn-yes" (click)="close(1)">Sim</button>
    <button class="btn-no" (click)="close(0)">Não</button>
  </div>
</div>
