<div class="body-div">
  <div class="img-div">
    <img src="assets/logoTemp.png" alt="Imagem de uma Ficha Desenhada" width="450px">
  </div>
  <div class="title-login-div">
    <h1 class="title">Login</h1>
    <div class="white-border">
      <div class="login-div">
        <div class="row">
          <div class="row-label">
            <label for="user">Usuário</label>
          </div>
          <input id="user" class="input-user" type="text" placeholder="Usuário ou E-mail" [(ngModel)]="login.user" (keydown.enter)="getToken()">
        </div>
        <div class="row">
          <div class="row-label">
            <label for="password">Senha</label>
          </div>
          <input id="password" class="input-password" type="password" placeholder="Senha" [(ngModel)]="login.password"
            (keydown.enter)="getToken()">
        </div>
        <div class="row">
          <button (click)="getToken()">Login</button>
          <a routerLink="/create-account">Não possui conta? Crie uma agora.</a>
        </div>
      </div>
    </div>
  </div>
</div>
