.body-div{
  display: flex;
  width: 100%;
  height: 95%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  .title-login-div{
    display: flex;
    flex-direction: column;
    width: 27%;
    margin: 0;
    padding: 0;

    .title{
      text-align: center;
      font-size: 46px;
      margin: 2% 0;
      letter-spacing: 10px;
      width: 100%;
      padding: 0;
    }

    .white-border{
      display: flex;
      border: 3px solid white;
      border-radius:20px;
      width: 100%;
    }

    .login-div{
      display: flex;
      width: 99%;
      flex-direction: column;
      border: 6px solid var(--primaryBlue);
      border-radius:20px;
      background-color: white;
      color: var(--primaryBlue);

      .row{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 33%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        text-align: center;

        .row-label{
          display: flex;
          width: 90%;

          label{
            font-size: 34px;
          }
        }

        input{
          width: 90%;
          height: 2.2em;
          border: 2px solid #000000;
          border-radius: 5px;
          font-size: 30px;
          align-self: center;
          margin-top: 2%;
        }

        input:focus{
          border-color: var(--primaryBlue);
          outline: none;
        }

        button{
          width: 200px;
          height: 100px;
          border-radius: 5px;
          border: 2px solid var(--buttonBlue);
          color: var(--buttonBlue);
          background-color: white;
          font-size: 36px;
          transition: 0.25s;
          cursor: pointer;
        }

        button:hover{
          background-color: var(--buttonBlue);
          color: white;
        }

        a{
          display: block;
          text-decoration: none;
          color: var(--primaryBlue);
          margin: 5% 0% 5% 0%;
          width: 100%;
          font-size: 28px;
        }

        a:hover{
          color: rgb(255, 2, 2);
        }
      }

    }
  }

  .img-div{
    margin-left: 15%;
  }
}

@media (max-width: 1600px) {
  .body-div{
    .title-login-div{
      width: 20%;
      .title{
        font-size: 34px;
      }

      .login-div{
        .row{
          .row-label{
            label{
              font-size: 22px;
            }
          }

          input{
            font-size: 20px;
          }

          button{
            width: 160px;
            height: 80px;
            font-size: 22px;
          }

          a{
            font-size: 20px;
          }
        }

      }
    }

    .img-div{
      margin-left: 10%;

      img{
        width: 600px;
      }
    }
  }
}

@media (max-width: 1366px) {
  .body-div{
    .title-login-div{
      .title{
        font-size: 30px;
      }

      .login-div{
        .row{
          .row-label{
            label{
              font-size: 20px;
            }
          }

          input{
            font-size: 18px;
          }

          button{
            font-size: 20px;
          }

          a{
            font-size: 18px;
          }
        }

      }
    }

    .img-div{
      img{
        width: 550px;
      }
    }
  }
}

@media (max-width: 884px){
  .body-div{
    display: flex;
    width: 100%;
    height: 95%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .title-login-div{
      display: flex;
      flex-direction: column;
      width: 35%;
      margin: 0;
      padding: 0;

      .title{
        text-align: center;
        font-size: 34px;
        margin: 2% 0;
        letter-spacing: 10px;
        width: 100%;
        padding: 0;
      }

      .white-border{
        display: flex;
        border: 3px solid white;
        border-radius:20px;
        width: 100%;
      }

      .login-div{
        display: flex;
        width: 99%;
        flex-direction: column;
        border: 6px solid var(--primaryBlue);
        border-radius:20px;
        background-color: white;
        color: var(--primaryBlue);

        .row{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 33%;
          justify-content: center;
          align-items: center;
          margin-top: 5%;
          text-align: center;

          .row-label{
            display: flex;
            width: 90%;

            label{
              font-size: 24px;
            }
          }

          input{
            width: 90%;
            height: 2.2em;
            border: 2px solid #000000;
            border-radius: 5px;
            font-size: 24px;
            align-self: center;
            margin-top: 2%;
          }

          input:focus{
            border-color: var(--primaryBlue);
            outline: none;
          }

          button{
            width: 160px;
            height: 80px;
            border-radius: 5px;
            border: 2px solid var(--buttonBlue);
            color: var(--buttonBlue);
            background-color: white;
            font-size: 26px;
            transition: 0.25s;
            cursor: pointer;
          }

          button:hover{
            background-color: var(--buttonBlue);
            color: white;
          }

          a{
            display: block;
            text-decoration: none;
            color: var(--primaryBlue);
            margin: 5% 0% 5% 0%;
            width: 100%;
            font-size: 20px;
          }

          a:hover{
            color: rgb(255, 2, 2);
          }
        }

      }
    }

    .img-div{
      margin-left: 0%;

      img{
        width: 480px;
      }
    }
  }
}

@media (max-width: 430px){
  .body-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .title-login-div{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0;
      padding: 0;

      .title{
        text-align: center;
        font-size: 34px;
        margin: 2% 0;
        letter-spacing: 10px;
        width: 100%;
        padding: 0;
      }

      .white-border{
        display: flex;
        border: 3px solid white;
        border-radius:20px;
        width: 100%;
      }

      .login-div{
        display: flex;
        width: 99%;
        flex-direction: column;
        border: 6px solid var(--primaryBlue);
        border-radius:20px;
        background-color: white;
        color: var(--primaryBlue);

        .row{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 33%;
          justify-content: center;
          align-items: center;
          margin-top: 5%;
          text-align: center;

          .row-label{
            display: flex;
            width: 90%;

            label{
              font-size: 24px;
            }
          }

          input{
            width: 90%;
            height: 2.2em;
            border: 2px solid #000000;
            border-radius: 5px;
            font-size: 24px;
            align-self: center;
            margin-top: 2%;
          }

          input:focus{
            border-color: var(--primaryBlue);
            outline: none;
          }

          button{
            width: 160px;
            height: 60px;
            border-radius: 5px;
            border: 2px solid var(--buttonBlue);
            color: var(--buttonBlue);
            background-color: white;
            font-size: 26px;
            transition: 0.25s;
            cursor: pointer;
          }

          button:hover{
            background-color: var(--buttonBlue);
            color: white;
          }

          a{
            display: block;
            text-decoration: none;
            color: var(--primaryBlue);
            margin: 5% 0% 5% 0%;
            width: 100%;
            font-size: 20px;
          }

          a:hover{
            color: rgb(255, 2, 2);
          }
        }

      }
    }

    .img-div{
      margin-left: 0%;

      img{
        width: 480px;
        display: none;
      }
    }
  }
}
