.sheet-body input{
    font-family: 'Averia Sans Libre', sans-serif;
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input:focus{
  outline: none;
}
@media screen and (min-width: 1300px){
  .sheet-body{
      background-color: white;
      margin: 1.5em;
      height: 100em;
      font-family: 'Averia Sans Libre', sans-serif;
      color: black;
      font-size: 20px;
      border-radius: 15px;

      .buttons button{
          display: block;
          font-size: 20px;
          width: 100px;
          height: 45px;
          border-radius: 5px;
          background-color: white;
      }
      .buttons button:hover{
          color: white;
          transition-duration: 0.25s;
          cursor: pointer;
      }
      .buttons{
          padding-top: 3%;
          margin-left: 3%;

          .button-save{
              border: 2px solid rgb(137, 231, 137);
              color: rgb(137, 231, 137);
          }
          .button-save:hover{
              background-color: rgb(137, 231, 137);

          }

          .button-cancel{
              margin-top: 2%;
              border: 2px solid rgb(250, 143, 143);
              color: rgb(250, 143, 143);
          }
          .button-cancel:hover{
              background-color: rgb(250, 143, 143);
          }
      }

      .character-name-div{
          position: absolute;
          left: 18%;
          top: 14%;
          .character-name-input{
              width: 135%;
              height: 2.5em;
              font-size: 24px;
              border: 3px solid black;
              border-radius: 5px;
          }
          .character-name-title{
              margin-top: 1%;
              margin-left: 32%;
              width: 100%;
          }
      }

      .primary-personal-infos-div{
          position: absolute;
          top: 8%;
          left: 46%;
          width: 47%;
          height: auto;
          padding-right: 15px;
          padding-bottom: 3px;
          border: 3px solid black;
          border-radius: 5px;

          .personal-infos-titles{
            margin-top: 8%;
            text-align: center;
            line-height: 0%;
          }

          .personal-infos-inputs{
            border: 1px solid white;
            font-size: 18px;
          }

          .row-one{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 30px 0 30px;
            column-gap: 3%;
            margin-top: 2%;
            margin-left: 2%;

            .class-input{
              grid-column: 1;
              grid-row: 1;
            }
            .class-title{
              grid-column: 1;
              grid-row: 3;
            }
            .antecedent-input{
              grid-column: 2;
              grid-row: 1;
            }
            .antecedent-title{
              grid-column: 2;
              grid-row: 3;
            }
            .player-name-text{
              margin-top: 2%;
              text-align: center;
              grid-column: 3;
              grid-row: 1;
              font-size: 18px;
            }

            .separate-row1{
              margin: 0;
              grid-row: 2;
              grid-column: 1 / 4;
              border: 1px solid black;
              height: 0;
            }

          }
          .row-two{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 30px 0 30px;
            column-gap: 3%;
            margin-top: 2%;
            margin-left: 2%;

            .race-input{
              grid-column: 1;
              grid-row: 1;
            }
            .race-title{
              grid-column: 1;
              grid-row: 3;
            }
            .trend-input{
              grid-column: 2;
              grid-row: 1;
            }
            .trend-title{
              grid-column: 2;
              grid-row: 3;
            }
            .separate-row2{
              margin: 0;
              grid-row: 2;
              grid-column: 1 / 4;
              border: 1px solid black;
              height: 0;
            }
          }
      }
      .primary-personal-infos-div input:focus{
        border-color: white;
        outline: none;
      }

      .button-clear-sheet{
        position: absolute;
        left: 83.5%;
        top: 33%;
        font-size: 20px;
        border: 2px solid #134074;
        border-radius: 5px;
        background-color: white;
        color: #134074;
        width: 150px;
        height: 45px;
      }

      .button-clear-sheet:hover{
        background-color: #134074;
        color: white;
        cursor: pointer;
        transition: 0.25s;
      }

      .attributes-div{
        background-color: rgb(209, 205, 205);
        display: inline-block;
        margin-left: 3%;
        margin-top: 5%;
        width: 15%;
        border-radius: 20px;

        .attribute-div{
          background-color: white;
          margin: 10% auto -10% auto;
          border: 2px solid black;
          border-radius: 20px;
          text-align: center;
          font-size: 18px;
          width: 63%;

          .attribute-name{
            margin: 0;
            margin-top: 15%;
            margin-bottom: 8%;
          }
        }

        .value-input{
          background-color: white;
          border: 2px solid black;
          text-align: center;
          border-radius: 100%;
          width: 20%;
          height: 2em;
          line-height: 2em;
          font-size: 18px;
          margin-left: 36%;
        }

        .white-border{
          border: 2px solid white;
          border-radius: 20px;
          margin: 4%;
          padding-bottom: 5%;
        }
      }

      .attribute-div h1{
        margin-top: 0;
      }

      .inspiration-div{
        position: absolute;
        left: 21%;
        top: 37%;

        .inspiration-input{
          position: relative;
          width: 20%;
          height: 2em;
          font-size: 26px;
          border: 4px solid black;
          border-radius:8px;
          z-index: 1;
        }
        .inspiration-title{
          position: absolute;
          top: -15%;
          left: 17%;
        }
      }

      .proeficiency-bonus-div{
        position: absolute;
        left: 21%;
        top: 50%;

        .proeficiency-bonus-input{
          position: relative;
          width: 20%;
          height: 2.3em;
          font-size: 26px;
          border: 4px solid black;
          border-radius: 100%;
          z-index: 1;
        }
        .proeficiency-bonus-title{
          position: absolute;
          top: -6%;
          left: 17%;
        }
      }

      .proeficiency-bonus-title,
      .inspiration-title{
        border: 3px solid black;
        text-align: center;
        line-height: 2em;
        border-radius: 12px;
        width: 70%;
        height: 2em;
        font-size: 16px;
      }

      .saving-throws-div{
        display: grid;
        grid-template-columns: 20% 20% 60%;
        grid-template-rows: 13.9em auto;
        position: absolute;
        left: 21%;
        top: 65%;
        width: 22%;
        border: 3px solid black;
        border-radius: 35px;

        .saving-throws-proeficiency-div,
        .saving-throws-inputs-div,
        .saving-throws-titles-div{
          margin-left: 8%;
          display: flex;
          flex-direction: column;
          font-size: 18px;
        }

        .saving-throws-proeficiency-div{
          grid-column: 1;
          margin-left: 25%;
          margin-top: 48%;
        }
        .saving-throws-inputs-div{
          grid-column: 2;
          margin-left: 20%;
          text-align: center;
        }
        .saving-throws-titles-div{
          grid-column: 3;
          margin-top: 0%;
        }
        .saving-throws-inputs-div h4{
          margin-bottom: -6%;
        }
        .saving-throws-titles-div h4{
          margin-bottom: -1.7%;
        }

        .proeficiency-checkbox {
          transform: scale(1.5);
          margin-bottom: 45%;
          margin-left: 39%;
          width: 1.5em;
          height: 1.5em;
          background-color: white;
          border-radius: 50%;
          border: 1px solid black;
          appearance: none;
          outline: none;
          cursor: pointer;
        }

        .proeficiency-checkbox:checked{
          background-color: black;
        }

        .saving-throws-tests{
          grid-column: 1 / 4;
          grid-row: 2;
          text-align: center;
          margin-top: 0%;
        }
      }

      .skills-div{
        display: flex;
        position: absolute;
        left: 21%;
        top:120%;
        flex-direction: column;
        border: 3px solid black;
        border-radius: 35px;
        width: 22%;
        height: 51em;
        font-size: 18px;

        .skills-proeficiency{
          transform: scale(1.4);
          width: 1.5em;
          height: 1.5em;
          background-color: white;
          border-radius: 50%;
          border: 1px solid black;
          appearance: none;
          outline: none;
          cursor: pointer;
        }

        .skills-proeficiency:checked{
          background-color: black;
        }

        .skills-row{
          display: flex;
          margin: 0;
          padding: 0;
          height: 2.6em;
        }

        .skills-column1{
          margin-left: 9.3%;
          margin-top: 8.3%;
          width: 19.4%;
        }
        .skills-column2{
          width: 16%;
          margin-top: 1%;
        }
        .skills-column3{
          width: 44%;
          margin-top: 1%;
        }
        .skills-column4{
          margin-top: 1.47%;
        }
        .skills-columns{
          width: 100%;
          text-align: center;
          font-size: 20px;
        }
      }

      .health-infos-div{
        display: flex;
        flex-direction: column;
        background-color: rgb(209, 205, 205);
        border-radius: 20px;
        position: absolute;
        top: 36%;
        left: 44%;
        width: 35%;
        height: auto;
        .out-border{
          border: 2px solid white;
          border-radius: 20px;
          margin: 2%;
          padding-bottom: 5%;
        }

        .background-white1{
          border: 3px solid black;
          background-color: white;
          border-radius: 10px;
          display: block;
          width: 76%;
          height: 100%;
        }

        .background-white{
          border: 3px solid black;
          background-color: white;
          border-radius: 10px;
        }

        .health-infos-row1{
          display: flex;
          flex-direction: row;
          margin-top: 5%;
          margin-bottom: 5%;
          margin-left: 4%;
          height:6em;
          width: 100%;

          input{
            display: block;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            height: 55%;
            font-size: 30px;
            border: white;
          }

          h4{
            line-height: 0%;
            text-align: center;
          }

          .health-infos-column{
            margin-right: 0;
            width: 33%;
            height: 100%;
          }
        }

        .health-points-div{
          display: block;
          width: 28%;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 5%;
          text-align: center;

          input{
            border: white;
          }
          .health-points-div-row{
            display: flex;
            width: 100%;
            height: 20%;
            .total-health-points{
              margin-left: 2%;
            }
            .total-health-points-input{
              align-self: center;
              margin-left: 5%;
              width: 30%;
              height: 20%;
              font-size: 20px;
            }
          }
          .actual-health-points-input{
            display: block;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
          }

        }

        .temporary-health-points{
          display: block;
          width: 20%;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 5%;
          text-align: center;
        }
      }
  }
}
