<div class="overflow">
  <form>
    <div class="container">
      <h1>Cadastrar Uma Nova Conta</h1>
      <div class="row">
        <div class="col-md-12">
          <label for="name">Nome</label>
          <input id="name" class="form-control input-formulario" type="text" placeholder="Nome" [(ngModel)]="account.name">

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="lastName">Sobrenome</label>
          <input id="lastName" class="form-control input-formulario" type="text" placeholder="Sobrenome" [(ngModel)]="account.lastName">

        </div>
      </div>
    </div>
    <label for="user">Usuário</label>
    <input id="user" class="form-control input-formulario" type="text" placeholder="Usuário" [(ngModel)]="account.user">
    <label for="email">E-mail</label>
    <input id="email" class="form-control input-formulario" type="text" placeholder="E-mail" [(ngModel)]="account.email">
    <label for="password">Senha</label>
    <input id="password" class="form-control input-formulario" type="password" placeholder="Senha" [(ngModel)]="account.password">
    <button (click)="createAccount()" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
